name: CI

on:
  push:
    branches:
      - main

  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review

  merge_group:

  workflow_dispatch:

permissions:
  contents: read

env:
  NEXT_TELEMETRY_DISABLED: 1
  NEXT_PUBLIC_PANGEA_DOMAIN: placeholder
  NEXT_PUBLIC_AUTHN_CLIENT_TOKEN: placeholder
  NEXT_PUBLIC_AUTHN_HOSTED_LOGIN_URL: placeholder
  PANGEA_TOKEN: placeholder
  PANGEA_DOMAIN: placeholder
  PANGEA_CONFIG_ID: placeholder

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: "24.11.1"
          cache: npm

      - name: Update npm
        run: npm install -g npm@latest

      - name: Next.js cache
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: |
            ~/.npm
            ${{ github.workspace }}/.next/cache
          key: ${{ runner.os }}-nextjs-${{ hashFiles('**/package-lock.json') }}-${{ hashFiles('**/*.js', '**/*.jsx', '**/*.ts', '**/*.tsx') }}
          restore-keys: |
            ${{ runner.os }}-nextjs-${{ hashFiles('**/package-lock.json') }}-

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build
